@font-face {
  font-family: "AkkuratLLWeb-Bold";
  src: url(../fonts/AkkuratLLWeb-Bold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AkkuratLLWeb-Bold";
  src: url(../fonts/AkkuratLLWeb-Bold.woff2) format("woff2");
  font-display: swap;
}

/*@font-face {
  font-family: "AkkuratLLSub-BoldSubset";
  src: url(../fonts/AkkuratLLSub-BoldSubset.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "AkkuratLLSub-BoldSubset";
  src: url(../fonts/AkkuratLLSub-BoldSubset.woff2) format("woff2");
  font-display: swap;
}*/

.custom-font {font-family: "AkkuratLLWeb-Bold" !important;}


.custom-navigation a {
    font-family: "AkkuratLLWeb-Bold" !important;
    text-transform: uppercase !important;
    font-size: 11px !important;
    letter-spacing: -0.2px !important;
text-decoration: none !important;

width: auto !important;
height: auto !important;
overflow: visible !important;
background-image: none !important;
text-indent: 0 !important;
line-height: 1.8em;
}

.custom-navigation a[id] {color:#000!important;}

.custom-navigation .topNavigationSeperator {display:none!important}

body.KQH a {color:#A4A4A6 !important;}
body.KEOM a {color:#AE993E !important;}
body.ESMH a {color:#254E9C !important;}
body.KQH a:hover {color:#000 !important;}
body.KEOM a:hover {color:#000 !important;}
body.ESMH a:hover {color:#000 !important;}
body.KQH a.linklistKQH {color:#A4A4A6 !important;}
body.KQH a.linklistKEOM {color:#AE993E !important;}
body.KQH a.linklistESMH {color:#254E9C !important;}
body.KEOM a.linklistKQH {color:#A4A4A6 !important;}
body.KEOM a.linklistKEOM {color:#AE993E !important;}
body.KEOM a.linklistESMH {color:#254E9C !important;}
body.ESMH a.linklistKQH {color:#A4A4A6 !important;}
body.ESMH a.linklistKEOM {color:#AE993E !important;}
body.ESMH a.linklistESMH {color:#254E9C !important;}

.topNavigation a {margin-left: 8px;}

.headlineTextKQH,
.headlineTextKEOM,
.headlineTextESMH,
.sublineTextKQH,
.sublineTextKEOM,
.sublineTextESMH {
    font-family: "AkkuratLLWeb-Bold" !important;
    text-transform: uppercase !important;}

div.renderImg {
    font-family: "AkkuratLLWeb-Bold" !important;
    text-transform: uppercase !important;
text-indent: 0 !important;}

.render-font { display:block; }

.text-black,.text-default {color:#000;}
.text-gray,.text-grey,.text-kqh {color:#A4A4A6;}
.text-blue,.text-esmh {color:#254E9C;}
.text-ocker,.text-keom {color:#AE993E;}

.font-size-normal {font-size:inherit;}
.font-size-big {font-size:14px;}
.font-size-huge {font-size:36px;}

.font-brand { font-family: "AkkuratLLWeb-Bold"; text-transform: uppercase; }

* {margin:0px; padding:0px; font-family:Arial;}
div.body {width:1000px; margin-bottom:20px;}

div.hdrLogo {margin-top:22px; margin-left:20px; height:110px; float:left;}
div.hdrLogo img {display:block;}

div.hdrNavigation {margin-top:22px; margin-left:50px; height:110px; float:left; text-align:right;}

div.topNavigation {height:20px;}
div.topNavigation a, span.topNavigationSeperator {background-repeat:no-repeat; height:20px; overflow:hidden; text-indent:9999em; white-space:nowrap; display:block; float:left;}
div.topNavigation a:hover {display:block; text-decoration:none; background-position:0px -20px; background-repeat:no-repeat;}
span.topNavigationSeperator {margin-left:2px; margin-right:2px;}

div.topNavigation a#activeNavigation, div.leftNavigation a#activeNavigation {background-position:0px -20px;}

div.clear {clear:both; display:block; font-size:1pt;}


div.cntNavigation {margin-left:20px; width:172px; height:368px; float:left;}
div.leftNavigation {max-width:170px;}
div.leftNavigation a {background-repeat:no-repeat; height:20px; overflow:hidden; text-indent:9999em; white-space:nowrap; display:block;}
div.leftNavigation a:hover {display:block; text-decoration:none; background-position:0px -20px; background-repeat:no-repeat;}

div.content, div.contentKEOM, div.contentESMH {padding-top:16px; margin-left:28px; width:760px; float:left;}
div.contentKEOM {height:530px; min-height:530px;}
div.content {border-top:1px solid #A4A4A6;}
div.contentKEOM {border-top:1px solid #AE993E;}
div.contentESMH {border-top:1px solid #254E9C;}

div.contentKEOM>table {width:760px;padding:0;margin:0}

div.contentAreaA, div.contentAreaB {width:220px; max-width:220px; float:left}
div.contentAreaC, div.contentAreaD {width:490px; max-width:490px; float:left}
div.contentAreaE, div.contentAreaF {width:355px; max-width:355px; float:left}
div.contentArea {width:100%;}
div.contentAreaB, div.contentAreaC, div.contentAreaF {margin-left:50px;}

div.txtContentA, div.txtContentB {width:355px; max-width:355px; float:left}
div.txtContentB {margin-left:50px;}

div.contentAreaA img, div.contentAreaB img, div.contentAreaC img, div.contentAreaD img, div.contentAreaE img, div.contentAreaF img {margin-bottom:10px;}

span.headlineKQH, span.headlineKEOM, span.headlineESMH {margin-bottom:14px; background-repeat:no-repeat; text-indent:9999em; white-space:nowrap; display:block; overflow:hidden}
a.moreKQH, a.moreKEOM, a.moreESMH {background-repeat:no-repeat; height:15px; overflow:hidden; text-indent:9999em; white-space:nowrap; display:block;}
a.moreKQH:hover, a.moreKEOM:hover, a.moreESMH:hover {display:block; text-decoration:none; background-position:0px -15px; background-repeat:no-repeat;}

div.headline, div.headlineKQH, div.headlineKEOM, div.headlineESMH {margin-bottom:5px;}

div.headlineText, div.headlineTextKQH, div.headlineTextKEOM, div.headlineTextESMH {margin-bottom:10px; display:block;}
span.sublineText, span.sublineTextKQH, span.sublineTextKEOM, span.sublineTextESMH {font-weight:bold;}

img#renderImg {margin:0px; padding:0px;}

div.headline, div.headlineKQH, div.headlineKEOM, div.headlineESMH, 
div.headlineText, div.headlineTextKQH, div.headlineTextKEOM, div.headlineTextESMH, 
div.subtitle, div.subtitleKQH, div.subtitleKEOM, div.subtitleESMH {font-weight:bold; letter-spacing:0px; text-transform:uppercase;}

div.headline, div.headlineText, span.sublineText, div.subtitle {color:#000000;}
div.headlineKQH, div.headlineTextKQH, span.sublineTextKQH, div.subtitleKQH {color:#A4A4A6;}
div.headlineKEOM, div.headlineTextKEOM, span.sublineTextKEOM, div.subtitleKEOM {color:#AE993E;}
div.headlineESMH, div.headlineTextESMH, span.sublineTextESMH, div.subtitleESMH {color:#254E9C;}

div#fade {display:none; background-color:#FFFFFF; position:absolute; top:0px; left:0px; width:100%; height:100%}

input.formfield {border:1px solid #A4A4A6; font-weight:bold; width:200px;}
input.submit {margin-top:5px; padding-top:1px; border:1px solid #A4A4A6; font-weight:bold; background-color:#FFFFFF;}

ul.kalender {margin-left:20px; font-weight:bold; list-style-type:square;}
ul.kalender li {padding-bottom:5px;}
ul.kalender li.kalenderKQH {color:#A4A4A6;}
ul.kalender li.kalenderKEOM {color:#AE993E;}
ul.kalender li.kalenderESMH {color:#254E9C;}

div.right {float:right; display:inline;}
div.sublineKEOM {float:right; display:inline; margin-top:20px;}
div.signetKeom {float:left; margin-right:10px;}
div.sloganKEOM {float:right; border-top:1px solid #AE993E; margin-top:10px; text-align:right; width:730px; display:inline; white-space:nowrap;}

div.contentNavigation {float:right; display:inline; margin-top:-10px;}
a.navigationBlock,a.navigationBlockKQH, a.navigationBlockKEOM, a.navigationBlockESMH {padding-left:15px; margin-left:15px; margin-bottom:20px; font-weight:bold; float:left; text-decoration:none; color:#000000; background-repeat:no-repeat; text-transform:uppercase; max-height:15px;}
a.navigationBlock {color:#000000;}
a.navigationBlockKQH {color:#A4A4A6;}
a.navigationBlockKEOM {color:#AE993E;}
a.navigationBlockESMH {color:#254E9C;}
a.navigationBlock:hover, a.navigationBlockKQH:hover, a.navigationBlockKEOM:hover, a.navigationBlockESMH:hover {color:#000000; background-position:0px -16px; background-repeat:no-repeat;}

span.alignRight {text-align:right; width:100%;}
div.alignJustify {text-align:justify; margin:0px; padding:0px;}
span.alignCenter {text-align:center; width:100%;}
span.lineThrough {text-decoration:line-through;}
span.fontColorBlue {color:#254E9C;}
span.fontColorGrey {color:#A4A4A6;}
span.fontColorYellow {color:#AE993E;}

span.textML {margin-left:20px; display:block;}

ul, ol {margin-left:20px;}

a.linklist, a.linklistKQH, a.linklistKEOM, a.linklistESMH {text-decoration:none; margin-bottom:5px;}
a.linklist {color:#000000;}
a.linklistKQH {color:#A4A4A6;}
a.linklistKEOM {color:#AE993E;}
a.linklistESMH {color:#254E9C;}
a.linklist span, a.linklistKQH span, a.linklistKEOM span, a.linklistESMH span {margin-bottom:5px;}
a.linklistKQH:hover, a.linklistKEOM:hover, a.linklistESMH:hover {color:#000000;}
a:hover span.linklistArrow, a:hover span.linklistArrowKQH, a:hover span.linklistArrowKEOM, a:hover span.linklistArrowESMH, 
a:hover span.linklistArrowLeft, a:hover span.linklistArrowLeftKQH, a:hover span.linklistArrowLeftKEOM, a:hover span.linklistArrowLeftESMH, 
a:hover span.linklistArrows, a:hover span.linklistArrowsKQH, a:hover span.linklistArrowsKEOM, a:hover span.linklistArrowsESMH, 
a:hover span.linklistBlock, a:hover span.linklistBlockKQH, a:hover span.linklistBlockKEOM, a:hover span.linklistBlockESMH {background-position:0px -16px; background-repeat:no-repeat;}

span#mLeft {margin-right:5px;}
span.linklistText {float:left; cursor:pointer; display:block;}
div.contentAreaA span.linklistText, div.contentAreaB span.linklistText {max-width:190px;}
div.contentAreaC span.linklistText, div.contentAreaD span.linklistText {max-width:460px;}
div.contentAreaE span.linklistText, div.contentAreaF span.linklistText {max-width:300px;}

span.linklistArrow, span.linklistArrowKQH, span.linklistArrowKEOM, span.linklistArrowESMH, 
span.linklistArrowLeft, span.linklistArrowLeftKQH, span.linklistArrowLeftKEOM, span.linklistArrowLeftESMH, 
span.linklistArrows, span.linklistArrowsKQH, span.linklistArrowsKEOM, span.linklistArrowsESMH, 
span.linklistBlock, span.linklistBlockKQH, span.linklistBlockKEOM, span.linklistBlockESMH {float:left; cursor:pointer; background-repeat:no-repeat; height:15px; text-decoration:none; overflow:hidden; text-indent:9999em; white-space:nowrap;}

span.hLine, span.hLineKQH, span.hLineKEOM, span.hLineESMH {clear:both; margin-top:5px; margin-bottom:10px; width:100%; border-top:1px solid; font-size:1pt; display:block;}
span.hLine {border-color:#000000;}
span.hLineKQH {border-color:#A4A4A6;}
span.hLineKEOM {border-color:#AE993E;}
span.hLineESMH {border-color:#254E9C;}

span.uppercase {text-transform:uppercase;}

div.linkRow {float:left; margin-right:20px}
div.linkRowLast {float:left;}
div.linkRowRight {float:right;}

a.linkKQH, a.linkKEOM, a.linkESMH {text-decoration:none;}
a.linkKQH:hover, a.linkKEOM:hover, a.linkESMH:hover {color:#000000;}
a.linkKQH {color:#A4A4A6;}
a.linkKEOM {color:#AE993E;}
a.linkESMH {color:#254E9C;}

div.googleMaps {width:489px; height:245px; border:1px solid #A4A4A6;}

a.linkNothing {text-decoration:none; color:#000000;}
a.linkNothing div {cursor:pointer;}

div.renderImg {background-repeat:no-repeat; overflow:hidden; text-indent:9999em; white-space:nowrap;}
span.micro {font-size:1pt;}

img.logoList {margin-top:25px;}
td img.logoList {margin-top:0px;}

div.print {display:none; margin:0px; padding:0px;}
div.print img {margin:0px; padding:0px;}

span.nlDutyText {font-weight:bold; color:990000;}
select.nlSelect {border:1px solid #A4A4A6; font-weight:bold; width:120px;}
input.nlField {border:1px solid #A4A4A6; font-weight:bold; width:120px;}
input.nlSubmit {margin-top:5px; padding-top:1px; border:1px solid #A4A4A6; font-weight:bold; background-color:#FFFFFF;}

#galContainer {margin-bottom:5px;}

@media Print {
	div.renderImg {display:none;}
	div.print {display:block;}

	div.topNavigation a, span.topNavigationSeperator {text-indent:0em; font-weight:bold; letter-spacing:0px; text-transform:uppercase; color:#A4A4A6; text-decoration:none}
	div.leftNavigation a {text-indent:0em; font-weight:bold; letter-spacing:0px; text-transform:uppercase; text-decoration:none; white-space:normal; max-width:180px;}
	/*div.hdrNavigation {margin-top:22px; margin-left:50px; height:0px; float:left; text-align:right; display:none;}*/
	/*div.cntNavigation {margin-left:20px; width:0px; height:0px; float:left; display:none;}*/

	span.linklistArrow, span.linklistArrowKQH, span.linklistArrowKEOM, span.linklistArrowESMH, 
	span.linklistArrowLeft, span.linklistArrowLeftKQH, span.linklistArrowLeftKEOM, span.linklistArrowLeftESMH, 
	span.linklistArrows, span.linklistArrowsKQH, span.linklistArrowsKEOM, span.linklistArrowsESMH, 
	span.linklistBlock, span.linklistBlockKQH, span.linklistBlockKEOM, span.linklistBlockESMH {text-indent:0em;}
}