* {font-size:12px;}

div.hdrLogo {width:350px;}
div.hdrNavigation {width:560px;}

a.topNavigationKontakt {width:50px; background-image: url('../images/navigation/kontakt-s.png'); }
a.topNavigationKunstquartier {width:89px; background-image: url('../images/navigation/kunstquartier-s.png'); }
a.topNavigationNewsletter {width:72px; background-image: url('../images/navigation/newsletter-s.png'); }
a.topNavigationKalender {width:58px; background-image: url('../images/navigation/kalender-s.png'); }
a.topNavigationBesuch {width:44px; background-image: url('../images/navigation/besuch-s.png'); }
a.topNavigationPresse {width:43px; background-image: url('../images/navigation/presse-s.png'); }
a.topNavigationSitemap {width:48px; background-image: url('../images/navigation/sitemap-s.png'); }
a.topNavigationImpressum {width:65px; background-image: url('../images/navigation/impressum-s.png'); }
a.topNavigationDatenschutz {width:78px; background-image: url('../images/navigation/datenschutz-s.png'); }

a.topNavigationSmall {width:8px; background-image: url('../images/navigation/small-s.png'); }
a.topNavigationMedium {width:16px; background-image: url('../images/navigation/medium-s.png'); }
a.topNavigationLarge {width:23px; background-image: url('../images/navigation/large-s.png'); }

span.topNavigationSeperator {width:4px; background-image: url('../images/navigation/seperator-s.png'); }

a.leftNavigationKQHKunstquartier {width:89px; background-image: url('../images/navigation/kqh/kunstquartier-s.png'); }
a.leftNavigationKQHMuseen {width:46px; background-image: url('../images/navigation/kqh/museen-s.png'); }
a.leftNavigationKQHArchitektur {width:75px; background-image: url('../images/navigation/kqh/architektur-s.png'); }
a.leftNavigationKQHGastronomie {width:78px; background-image: url('../images/navigation/kqh/gastronomie-s.png'); }
a.leftNavigationKQHRestaurant {width:70px; background-image: url('../images/navigation/kqh/restaurant-s.png'); }
a.leftNavigationKQHShop {width:30px; background-image: url('../images/navigation/kqh/shop-s.png'); }
a.leftNavigationKQHSummary {width:56px; background-image: url('../images/navigation/kqh/summary-s.png'); }

a.leftNavigationKEOMAktuell {width:48px; background-image: url('../images/navigation/keom/aktuell-s.png'); }
a.leftNavigationKEOMKinderprogramm {width:122px; background-image: url('../images/navigation/keom/kinderprogramm_s.png'); }
a.leftNavigationKEOMMuseum {width:49px; background-image: url('../images/navigation/keom/museum-s.png'); }
a.leftNavigationKEOMFreunde {width:52px; background-image: url('../images/navigation/keom/freunde-s.png'); }
a.leftNavigationKEOMMeineMeinung {width:89px; background-image: url('../images/navigation/keom/meinemeinung-s.png'); }
a.leftNavigationKEOMSummary {width:56px; background-image: url('../images/navigation/keom/summary-s.png'); }
a.leftNavigationKEOMInformation {width:73px; background-image: url('../images/navigation/keom/information-s.png'); }
a.leftNavigationKEOMPresse {width:43px; background-image: url('../images/navigation/keom/presse-s.png'); }

a.leftNavigation2KEOMAusstellungen {margin-left:15px; width:91px; background-image: url('../images/navigation/keom/ausstellungen-s.png');}
a.leftNavigation2KEOMJungesMuseum {margin-left:15px; width:93px; background-image: url('../images/navigation/keom/jungesmuseum-s.png');}
a.leftNavigation2KEOMFuehrungen {margin-left:15px; width:67px; background-image: url('../images/navigation/keom/fuehrungen-s.png');}
a.leftNavigation2KEOMVeranstaltungen {margin-left:15px; width:105px; background-image: url('../images/navigation/keom/veranstaltungen-s.png');}
a.leftNavigation2KEOMTeam {margin-left:15px; width:30px; background-image: url('../images/navigation/keom/team-s.png');}
a.leftNavigation2KEOMZiele {margin-left:15px; width:31px; background-image: url('../images/navigation/keom/ziele-s.png');}
a.leftNavigation2KEOMSammlungen {margin-left:15px; width:77px; background-image: url('../images/navigation/keom/sammlungen-s.png');}
a.leftNavigation2KEOMArchive {margin-left:15px; width:47px; background-image: url('../images/navigation/keom/archive-s.png');}
a.leftNavigation2KEOMHohenhofHagenerImpuls {margin-left:15px; width:95px; background-image: url('../images/navigation/keom/hohenhofhagenerimpuls-s.png');}
a.leftNavigation2KEOMMuseumsgeschichte {margin-left:15px; width:132px; background-image: url('../images/navigation/keom/museumsgeschichte-s.png');}
a.leftNavigation2KEOMKarlErnstOsthaus {margin-left:15px; width:118px; background-image: url('../images/navigation/keom/karlernstosthaus-s.png');}
a.leftNavigation2KEOMPublikationen {margin-left:15px; width:85px; background-image: url('../images/navigation/keom/publikationen-s.png');}
a.leftNavigation2KEOMMuseumslounge {margin-left:15px; width:99px; background-image: url('../images/navigation/keom/museumslounge_s.png');}
a.leftNavigation2KEOMChristianRohlfsArchiv {margin-left:15px; width:109px; background-image: url('../images/navigation/keom/christianrohlfsarchiv-s.png');}

div.leftNavigation a.leftNavigation2KEOMHohenhofHagenerImpuls, div.leftNavigation a.leftNavigation2KEOMChristianRohlfsArchiv {height:33px;}
div.leftNavigation a.leftNavigation2KEOMHohenhofHagenerImpuls:hover, div.leftNavigation a.leftNavigation2KEOMChristianRohlfsArchiv:hover {background-position:0px -33px;}
div.leftNavigation a.leftNavigation2KEOMHohenhofHagenerImpuls#activeNavigation, div.leftNavigation a.leftNavigation2KEOMChristianRohlfsArchiv#activeNavigation {background-position:0px -33px;}

a.leftNavigationESMHEmilSchumacher {width:104px; background-image: url('../images/navigation/esmh/emilschumacher-s.png'); }
a.leftNavigationESMHMuseum {width:49px; background-image: url('../images/navigation/esmh/museum-s.png'); }
a.leftNavigationESMHSammlung {width:63px; background-image: url('../images/navigation/esmh/sammlung-s.png'); }
a.leftNavigationESMHAusstellungen {width:91px; background-image: url('../images/navigation/esmh/ausstellungen-s.png'); }
a.leftNavigationESMHInformation {width:73px; background-image: url('../images/navigation/esmh/information-s.png'); }
a.leftNavigationESMHInformationContact {width:126px; background-image: url('../images/navigation/esmh/informationcontact-s.png'); }
a.leftNavigationESMHInformationKontakt {width:127px; background-image: url('../images/navigation/esmh/informationkontakt-s.png'); }
a.leftNavigationESMHInformationenKontakt {width:101px; background-image: url('../images/navigation/esmh/informationenkontakt-s.png'); }
a.leftNavigationESMHVeranstaltungen {width:105px; background-image: url('../images/navigation/esmh/veranstaltungen-s.png'); }
a.leftNavigationESMHPresse {width:43px; background-image: url('../images/navigation/esmh/presse-s.png'); }
a.leftNavigationESMHUnterstuetzung {width:93px; background-image: url('../images/navigation/esmh/unterstuetzung-s.png'); }
a.leftNavigationESMHFeiernimMuseum {width:105px; background-image: url('../images/navigation/esmh/feiernimmuseum-s.png'); }
a.leftNavigationESMHEnglish {width:47px; background-image: url('../images/navigation/esmh/english-s.png'); }
a.leftNavigationESMHCollection {width:65px; background-image: url('../images/navigation/esmh/collection-s.png'); }
a.leftNavigationESMHExhibitions {width:68px; background-image: url('../images/navigation/esmh/exhibitions-s.png'); }
a.leftNavigationESMHEvents {width:43px; background-image: url('../images/navigation/esmh/events-s.png'); }
a.leftNavigationESMHPress {width:36px; background-image: url('../images/navigation/esmh/press-s.png'); }
a.leftNavigationESMHSponsorshipAndSupport {width:109px; background-image: url('../images/navigation/esmh/sponsorshipandsupport-s.png');}
a.leftNavigationESMHGalleryRentalSpace {width:127px; background-image: url('../images/navigation/esmh/galleryrentalspace-s.png');}
a.leftNavigationESMHPublikationen {width:85px; background-image: url('../images/navigation/esmh/publikationen-s.png');}
a.leftNavigationESMHPublications {width:77px; background-image: url('../images/navigation/esmh/publications-s.png');}
a.leftNavigationESMHFilm {width:26px; background-image: url('../images/navigation/esmh/film-s.png');}
a.leftNavigationESMH2012, a.leftNavigationESMH2012e {width:26px; background-image: url('../images/navigation/esmh/2012-s.png');}
a.leftNavigationESMHDeutsch {width:50px; background-image: url('../images/navigation/esmh/deutsch-s.png');}
a.leftNavigationESMHProgramm2012 {width:91px; background-image: url('../images/navigation/esmh/programm2012-s.png');}
a.leftNavigationESMHProgramm2013 {width:91px; background-image: url('../images/navigation/esmh/programm2013-s.png');}
a.leftNavigationESMHRuhrKunstMuseen {width:112px; background-image: url('../images/navigation/esmh/ruhrkunstmuseen-s.png');}
a.leftNavigationESMHRuhrArtMuseums {width:111px; background-image: url('../images/navigation/esmh/ruhrartmuseums-s.png');}
a.leftNavigationESMHSponsorenundFoerderer {width:98px; background-image: url('../images/navigation/esmh/sponsorenundfoerderer-s.png');}

a.leftNavigationESMHFoerderverein {width:82px; background-image: url('../images/navigation/esmh/foerderverein-s.png');}
a.leftNavigation2ESMHSchuelerfest {margin-left:15px; width:77px; background-image: url('../images/navigation/esmh/schuelerfest-s.png');}
a.leftNavigation2ESMHKlassikJazz {margin-left:15px; width:84px; background-image: url('../images/navigation/esmh/klassik_jazz-s.png');}
a.leftNavigation2ESMHMitgliedschaft {margin-left:15px; width:93px; background-image: url('../images/navigation/esmh/mitgliedschaft-s.png');}
a.leftNavigation2ESMHWirueberuns {margin-left:15px; width:77px; background-image: url('../images/navigation/esmh/wir_ueber_uns-s.png');}
a.leftNavigation2ESMHKontakt {margin-left:15px; width:50px; background-image: url('../images/navigation/esmh/kontakt-s.png');}
a.leftNavigation2ESMHDatenschutz {margin-left:15px; width:78px; background-image: url('../images/navigation/esmh/nav_esmh_datenschutz-s.png');}

a.leftNavigation2ESMHArchitektur {margin-left:15px; width:75px; background-image: url('../images/navigation/esmh/architektur-s.png');}
a.leftNavigation2ESMHKlimatechnik {margin-left:15px; width:80px; background-image: url('../images/navigation/esmh/klimatechnik-s.png');}
a.leftNavigation2ESMHRundgang {margin-left:15px; width:61px; background-image: url('../images/navigation/esmh/rundgang-s.png');}
a.leftNavigation2ESMHLeben {margin-left:15px; width:36px; background-image: url('../images/navigation/esmh/leben-s.png');}
a.leftNavigation2ESMHWerk {margin-left:15px; width:32px; background-image: url('../images/navigation/esmh/werk-s.png');}
a.leftNavigation2ESMHLiteratur {margin-left:15px; width:58px; background-image: url('../images/navigation/esmh/literatur-s.png');}
a.leftNavigation2ESMHGemaelde {margin-left:15px; width:53px; background-image: url('../images/navigation/esmh/gemaelde-s.png');}
a.leftNavigation2ESMHArbeitenaufPapier {margin-left:15px; width:117px; background-image: url('../images/navigation/esmh/arbeitenaufpapier-s.png');}
a.leftNavigation2ESMHKeramik {margin-left:15px; width:50px; background-image: url('../images/navigation/esmh/keramik-s.png');}
a.leftNavigation2ESMHPorzellan {margin-left:15px; width:62px; background-image: url('../images/navigation/esmh/porzellan-s.png');}
a.leftNavigation2ESMHAktuellVorschau {margin-left:15px; width:113px; background-image: url('../images/navigation/esmh/aktuellvorschau-s.png');}
a.leftNavigation2ESMHArchiv {margin-left:15px; width:40px; background-image: url('../images/navigation/esmh/archiv-s.png');}
a.leftNavigation2ESMHFuehrungen {margin-left:15px; width:67px; background-image: url('../images/navigation/esmh/fuehrungen-s.png');}
a.leftNavigation2ESMHKonzerte {margin-left:15px; width:57px; background-image: url('../images/navigation/esmh/konzerte-s.png');}
a.leftNavigation2ESMHSymposien {margin-left:15px; width:63px; background-image: url('../images/navigation/esmh/symposien-s.png');}
a.leftNavigation2ESMHFilme {margin-left:15px; width:33px; background-image: url('../images/navigation/esmh/filme-s.png');}
a.leftNavigation2ESMHExhibitionsCircuit {margin-left:15px; width:112px; background-image: url('../images/navigation/esmh/exhibitionscircuit-s.png');}
a.leftNavigation2ESMHArchitecture {margin-left:15px; width:81px; background-image: url('../images/navigation/esmh/architecture-s.png');}
a.leftNavigation2ESMHAirConditioningTechnology {margin-left:15px; width:104px; background-image: url('../images/navigation/esmh/airconditioningtechnology-s.png');}
a.leftNavigation2ESMHLife {margin-left:15px; width:24px; background-image: url('../images/navigation/esmh/life-s.png');}
a.leftNavigation2ESMHWork {margin-left:15px; width:33px; background-image: url('../images/navigation/esmh/work-s.png');}
a.leftNavigation2ESMHOeuvre {margin-left:15px; width:41px; background-image: url('../images/navigation/esmh/oeuvre-s.png');}
a.leftNavigation2ESMHLiterature {margin-left:15px; width:65px; background-image: url('../images/navigation/esmh/literature-s.png');}
a.leftNavigation2ESMHPaintings {margin-left:15px; width:58px; background-image: url('../images/navigation/esmh/paintings-s.png');}
a.leftNavigation2ESMHWorksOnPaper {margin-left:15px; width:94px; background-image: url('../images/navigation/esmh/worksonpaper-s.png');}
a.leftNavigation2ESMHCeramics {margin-left:15px; width:56px; background-image: url('../images/navigation/esmh/ceramics-s.png');}
a.leftNavigation2ESMHPorcelain {margin-left:15px; width:60px; background-image: url('../images/navigation/esmh/porcelain-s.png');}
a.leftNavigation2ESMHCurrentUpcoming {margin-left:15px; width:116px; background-image: url('../images/navigation/esmh/currentupcoming-s.png');}
a.leftNavigation2ESMHArchive {margin-left:15px; width:47px; background-image: url('../images/navigation/esmh/archive-s.png');}
a.leftNavigation2ESMHTours {margin-left:15px; width:36px; background-image: url('../images/navigation/esmh/tours-s.png');}
a.leftNavigation2ESMHConcerts {margin-left:15px; width:57px; background-image: url('../images/navigation/esmh/concerts-s.png');}
a.leftNavigation2ESMHSymposia {margin-left:15px; width:56px; background-image: url('../images/navigation/esmh/symposia-s.png');}
a.leftNavigation2ESMHFilm {margin-left:15px; width:26px; background-image: url('../images/navigation/esmh/film-s.png');}
a.leftNavigation2ESMHKooperation {margin-left:15px; width:74px; background-image: url('../images/navigation/esmh/kooperation-s.png');}
a.leftNavigation2ESMHKooperationen {margin-left:15px; width:90px; background-image: url('../images/navigation/esmh/kooperationen-s.png');}
a.leftNavigation2ESMHCooperation {margin-left:15px; width:74px; background-image: url('../images/navigation/esmh/cooperation-s.png');}
a.leftNavigation2ESMHEroeffnung2009 {margin-left:15px; width:94px; background-image: url('../images/navigation/esmh/eroeffnung2009-s.png');}
a.leftNavigation2ESMHLectures {margin-left:15px; width:55px; background-image: url('../images/navigation/esmh/lectures-s.png');}
a.leftNavigation2ESMHOpening2009 {margin-left:15px; width:76px; background-image: url('../images/navigation/esmh/opening2009-s.png');}
a.leftNavigation2ESMHVortraege {margin-left:15px; width:57px; background-image: url('../images/navigation/esmh/vortraege-s.png');}
a.leftNavigation2ESMHVeranstaltungen {margin-left:15px; width:105px; background-image: url('../images/navigation/esmh/veranstaltungen-s.png'); }
a.leftNavigation2ESMHKaiserslautern {margin-left:15px; width:95px; background-image: url('../images/navigation/esmh/kaiserslautern-s.png');}

a.leftNavigationESMHRoerkunstmusea {width:103px; background-image: url('../images/navigation/esmh/nav_esmh_roerkunstmusea_s.png');}
a.leftNavigationESMHInformaties {width:72px; background-image: url('../images/navigation/esmh/nav_esmh_informaties_s.png');}
a.leftNavigationESMHPers {width:28px; background-image: url('../images/navigation/esmh/nav_esmh_pers_s.png');}
a.leftNavigationESMHViereninhetmuseum {width:126px; background-image: url('../images/navigation/esmh/nav_esmh_viereninhetmuseum_s.png');}
a.leftNavigation2ESMHConcerten {margin-left:15px; width:64px; background-image: url('../images/navigation/esmh/nav_esmh_concerten_s.png');}
a.leftNavigationESMHEvenementen {width:81px; background-image: url('../images/navigation/esmh/nav_esmh_evenementen_s.png');}
a.leftNavigation2ESMHEvenementen {margin-left:15px; width:81px; background-image: url('../images/navigation/esmh/nav_esmh_evenementen_s.png');}
a.leftNavigationESMHPublicaties {width:67px; background-image: url('../images/navigation/esmh/nav_esmh_publicaties_s.png');}
a.leftNavigation2ESMHArchief {margin-left:15px; width:46px; background-image: url('../images/navigation/esmh/nav_esmh_archief_s.png');}
a.leftNavigation2ESMHActueelvooruitzicht {margin-left:15px; width:128px; background-image: url('../images/navigation/esmh/nav_esmh_actueelvooruitzicht_s.png');}
a.leftNavigationESMHTentoonstellingen {width:115px; background-image: url('../images/navigation/esmh/nav_esmh_tentoonstellingen_s.png');}
a.leftNavigation2ESMHPorselein {margin-left:15px; width:59px; background-image: url('../images/navigation/esmh/nav_esmh_porselein_s.png');}
a.leftNavigation2ESMHKeramiek {margin-left:15px; width:56px; background-image: url('../images/navigation/esmh/nav_esmh_keramiek_s.png');}
a.leftNavigation2ESMHWerkenoppapier {margin-left:15px; width:103px; background-image: url('../images/navigation/esmh/nav_esmh_werkenoppapier_s.png');}
a.leftNavigation2ESMHSchilderijen {margin-left:15px; width:76px; background-image: url('../images/navigation/esmh/nav_esmh_schilderijen_s.png');}
a.leftNavigationESMHCollectie {width:56px; background-image: url('../images/navigation/esmh/nav_esmh_collectie_s.png');}
a.leftNavigation2ESMHLiteratuur {margin-left:15px; width:64px; background-image: url('../images/navigation/esmh/nav_esmh_literatuur_s.png');}
a.leftNavigation2ESMHLeven {margin-left:15px; width:34px; background-image: url('../images/navigation/esmh/nav_esmh_leven_s.png');}
a.leftNavigation2ESMHArchitetcuur {margin-left:15px; width:81px; background-image: url('../images/navigation/esmh/nav_esmh_architetcuur_s.png');}
a.leftNavigationESMHNederlands {width:72px; background-image: url('../images/navigation/esmh/nav_esmh_nederlands_s.png');}
a.leftNavigation2ESMHRondgangruimtes {margin-left:15px; width:112px; background-image: url('../images/navigation/esmh/nav_esmh_rondgangruimtes_s.png');}
a.leftNavigationESMHSponsorenenbevorderaars {width:86px; background-image: url('../images/navigation/esmh/nav_esmh_sponsorenenbevorderaars-s.png');}


div.leftNavigation a.leftNavigationESMHSponsorshipAndSupport,
div.leftNavigation a.leftNavigationESMHSponsorenundFoerderer,
div.leftNavigation a.leftNavigationESMHInformationenKontakt,
div.leftNavigation a.leftNavigation2ESMHAirConditioningTechnology,
div.leftNavigation a.leftNavigationESMHSponsorenenbevorderaars {height:33px;}
div.leftNavigation a.leftNavigationESMHSponsorshipAndSupport:hover,
div.leftNavigation a.leftNavigationESMHSponsorenundFoerderer:hover,
div.leftNavigation a.leftNavigationESMHInformationenKontakt:hover,
div.leftNavigation a.leftNavigation2ESMHAirConditioningTechnology:hover,
div.leftNavigation a.leftNavigationESMHSponsorenenbevorderaars:hover {background-position:0px -33px;}
div.leftNavigation a.leftNavigationESMHSponsorshipAndSupport#activeNavigation,
div.leftNavigation a.leftNavigationESMHSponsorenundFoerderer#activeNavigation,
div.leftNavigation a.leftNavigationESMHInformationenKontakt#activeNavigation,
div.leftNavigation a.leftNavigation2ESMHAirConditioningTechnology#activeNavigation,
div.leftNavigation a.leftNavigationESMHSponsorenenbevorderaars#activeNavigation {background-position:0px -33px;}

span.headlineKQH {width:105px; height:28px; background-image: url('../images/common/kqh/headline-s.png'); }
span.headlineKEOM {width:119px; height:28px; background-image: url('../images/common/keom/headline-s.png'); }
span.headlineESMH {width:181px; height:28px; background-image: url('../images/common/esmh/headline-s.png'); }

div.headline, div.headlineKQH, div.headlineKEOM, div.headlineESMH {font-size:14px;}

a.navigationBlock {height:13px; background-image: url('../images/common/block-s.png'); }
a.navigationBlockKQH {height:13px; background-image: url('../images/common/kqh/block-s.png'); }
a.navigationBlockKEOM {height:13px; background-image: url('../images/common/keom/block-s.png'); }
a.navigationBlockESMH {height:13px; background-image: url('../images/common/esmh/block-s.png'); }

span.linklistArrow {width:14px; background-image: url('../images/common/arrow-s.png');}
span.linklistArrowKQH {width:14px; background-image: url('../images/common/kqh/arrow-s.png');}
span.linklistArrowKEOM {width:14px; background-image: url('../images/common/keom/arrow-s.png');}
span.linklistArrowESMH {width:14px; background-image: url('../images/common/esmh/arrow-s.png');}
span.linklistArrowLeft {width:14px; background-image: url('../images/common/arrowLeft-s.png');}
span.linklistArrowLeftKQH {width:14px; background-image: url('../images/common/kqh/arrowLeftKQH-s.png');}
span.linklistArrowLeftKEOM {width:14px; background-image: url('../images/common/keom/arrowLeftKEOM-s.png');}
span.linklistArrowLeftESMH {width:14px; background-image: url('../images/common/esmh/arrowLeftESMH-s.png');}
span.linklistArrows {width:8px; background-image: url('../images/common/arrows-s.png');}
span.linklistArrowsKQH {width:8px; background-image: url('../images/common/kqh/arrows-s.png');}
span.linklistArrowsKEOM {width:8px; background-image: url('../images/common/keom/arrows-s.png');}
span.linklistArrowsESMH {width:8px; background-image: url('../images/common/esmh/arrows-s.png');}
span.linklistBlock {width:13px; background-image: url('../images/common/block-s.png');}
span.linklistBlockKQH {width:13px; background-image: url('../images/common/kqh/block-s.png');}
span.linklistBlockKEOM {width:13px; background-image: url('../images/common/keom/block-s.png');}
span.linklistBlockESMH {width:13px; background-image: url('../images/common/esmh/block-s.png');}

span.fontLarge, span.fontLarge * {font-size:14px;}
span.fontSmall, span.fontSmall * {font-size:10px;}
span.fontLarger, span.fontLarger * {font-size:36px;}

@media Print {
	div.hdrLogo {width:370px;}
	div.hdrNavigation {width:540px;}

	a.topNavigationKontakt, a.topNavigationKunstquartier, a.topNavigationNewsletter, a.topNavigationKalender, a.topNavigationBesuch, a.topNavigationPresse, a.topNavigationSitemap, a.topNavigationImpressum, a.topNavigationSmall, a.topNavigationMedium, a.topNavigationLarge  {width:auto;}

	a.leftNavigationKQHKunstquartier, a.leftNavigationKQHMuseen, a.leftNavigationKQHArchitektur, a.leftNavigationKQHGastronomie, a.leftNavigationKQHRestaurant, a.leftNavigationKQHShop, a.leftNavigationKQHSummary  {width:auto; color:#A4A4A6;}

	a.leftNavigationKEOMAktuell, a.leftNavigationKEOMEreignis, a.leftNavigationKEOMMuseum, a.leftNavigationKEOMFreunde, a.leftNavigationKEOMMeineMeinung, a.leftNavigationKEOMSummary, 
	a.leftNavigation2KEOMAusstellungen, a.leftNavigation2KEOMJungesMuseum, a.leftNavigation2KEOMFuehrungen, a.leftNavigation2KEOMVeranstaltungen, 
	a.leftNavigation2KEOMTeam, a.leftNavigation2KEOMZiele, a.leftNavigation2KEOMSammlungen, a.leftNavigation2KEOMArchive, a.leftNavigation2KEOMHohenhofHagenerImpuls, a.leftNavigation2KEOMMuseumsgeschichte, a.leftNavigation2KEOMKarlErnstOsthaus {width:auto; color:#AE993E;}

	a.leftNavigationESMHEmilSchumacher, a.leftNavigationESMHMuseum, a.leftNavigationESMHSammlung, a.leftNavigationESMHAusstellungen, a.leftNavigationESMHInformation, a.leftNavigationESMHVeranstaltungen, a.leftNavigationESMHPresse, a.leftNavigationESMHUnterstuetzung, a.leftNavigationESMHFeiernImMuseum, a.leftNavigationESMHEnglish, a.leftNavigationESMHCollection, a.leftNavigationESMHExhibitions, a.leftNavigationESMHEvents, a.leftNavigationESMHPress, a.leftNavigationESMHSponsorshipAndSupport, a.leftNavigationESMHGalleryRentalSpace, 
	a.leftNavigation2ESMHArchitektur, a.leftNavigation2ESMHKlimatechnik, a.leftNavigation2ESMHRundgang, a.leftNavigation2ESMHLeben, a.leftNavigation2ESMHWerk, a.leftNavigation2ESMHLiteratur, a.leftNavigation2ESMHGemaelde, a.leftNavigation2ESMHArbeitenaufPapier, a.leftNavigation2ESMHKeramik, a.leftNavigation2ESMHPorzellan, a.leftNavigation2ESMHAktuellVorschau, a.leftNavigation2ESMHArchiv, a.leftNavigation2ESMHFuehrungen, a.leftNavigation2ESMHKonzerte, a.leftNavigation2ESMHSymposien, a.leftNavigation2ESMHFilme, a.leftNavigation2ESMHExhibitionsCircuit, a.leftNavigation2ESMHArchitecture, a.leftNavigation2ESMHAirConditioningTechnology, a.leftNavigation2ESMHLife, a.leftNavigation2ESMHWork, a.leftNavigation2ESMHOeuvre, a.leftNavigation2ESMHLiterature, a.leftNavigation2ESMHPaintings, a.leftNavigation2ESMHWorksOnPaper, a.leftNavigation2ESMHCeramics, a.leftNavigation2ESMHPorcelain, a.leftNavigation2ESMHCurrentUpcoming, a.leftNavigation2ESMHArchive, a.leftNavigation2ESMHTours, a.leftNavigation2ESMHConcerts, a.leftNavigation2ESMHSymposia, a.leftNavigation2ESMHFilm {width:auto; color:#254E9C;}

	div.leftNavigation a#activeNavigation {color:#000000;}

	a.navigationBlock, span.linklistArrow, span.linklistArrowLeft, span.linklistArrows, span.linklistBlock {width:auto; color:#000000;}
	span.headlineKQH, a.navigationBlockKQH, span.linklistArrowKQH, span.linklistArrowLeftKQH, span.linklistArrowsKQH, span.linklistBlockKQH {width:auto; color:#A4A4A6;}
	span.headlineKEOM, a.navigationBlockKEOM, span.linklistArrowKEOM, span.linklistArrowLeftKEOM, span.linklistArrowsKEOM, span.linklistBlockKEOM {width:auto; color:#AE993E;}
	span.headlineESMH, a.navigationBlockESMH, span.linklistArrowESMH, span.linklistArrowLeftESMH, span.linklistArrowsESMH, span.linklistBlockESMH {width:auto; color:#254E9C;}
}